@page "/counter"
@using Microsoft.Extensions.AI
@rendermode InteractiveServer

<PageTitle>Chat</PageTitle>


<h3>Ollama Chat</h3>

<textarea @bind="UserInput" placeholder="Ask something..." rows="4" cols="60"></textarea>
<br />
<button @onclick="SendMessage">Send</button>

@if (!string.IsNullOrWhiteSpace(BotResponse))
{
    <p><b>Bot:</b> @BotResponse</p>
}


@code {
    private string UserInput = "";
    private string BotResponse = "";

    private async Task SendMessage()
    {
        var ollamaUrl = Environment.GetEnvironmentVariable("OLLAMA_URL") ?? throw new Exception("OLLAMA_URL is not set");
        var client = new OllamaChatClient(ollamaUrl, "gemma3:12b");

        var result = await client.GetResponseAsync(
        [
        new ChatMessage(ChatRole.System, $@"""
you are a helpful assistant.
"""),
new ChatMessage(ChatRole.User, UserInput),
]);
        BotResponse= result.Text;
        await InvokeAsync(StateHasChanged);
    }
}